/* .loginbox {
    max-width: max-content;
  } */
  .mat-radio-button {
      margin-left: 10px;
  }

  .border {
    display: block;
      border: 5px;
      border-color: black;
  }
  .btn-submit {
    background: #594AB2;
    color: #fff;
    border-color: #594AB2;
    margin-top: 2px;
  }